body {
    background-color: lightyellow;
}
input {
    width: 30%;
    box-sizing: border-box;
    padding: -10px 30px;
    margin: 8px 0;
    border-radius: 5px;
    background-color: lightgray;
}
input:hover {
    background-color: rgb(255, 255, 255);
    border-color: lime;
    border-width: 2px;
}
button {
    padding: -10px 30px;
    margin: 8px 0;
    background-color: rgb(244, 244, 244);
    border-color: rgb(173, 173, 173);
}
button:hover {
    background-color: rgb(255, 255, 255);
    border-color: lime;
    border-width: 2px;
}

iframe {
    border: 2px solid black !important;
    background: linear-gradient(to right, red, blue);
}